*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #ffff;
    --text-color: #22100d;
    --second-color: #685f78;
    --main-color: #f66962;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
 header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 13%;
    transition: all .40s ease;
} 
.test{
    display: flex;
}
.test a{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--p-font);
    padding: 10px 22px;
    transition: all .40s ease;
    
}
.test a:hover{
    color: var(--main-color);
}
.n ul{
    list-style-type: none;
} */
.hero-section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../images/background.jpeg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    align-items: center;
    
    
}

.header-icons{
    display: flex;
    align-items: center;
}
.header-icons i{
    margin-left: 10px;
    font-size: 24px;
    color: var(--text-color);
    transition: all .40s ease;
    margin-right: 15px;
}
.header-icons i:hover{
    transform: scale(1.2);
    color: var(--main-color);
}

.logo img{
    height: auto;
    width: 160px;
    max-width: 100%;
}

#menu-icon{
    font-size: 34px;
    color: var(--text-color);
    cursor: pointer;
    display: none;
} 
section{
    padding: 80px 13%;
}   


.latter form{
    width: 100%;
    max-width: 460px;
    position: relative;
}
.latter form input:first-child{
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}
.latter form input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    outline: none;
    background: var(--main-color);
    color: var(--bg-color);
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    top: 2px;
    right: 1px;
}
header.sticky{
    background: var(--bg-color);
    padding: 12px 13%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}
.btn{
    background-color: rgb(0, 195, 130);
    padding: 10px 25px;
    border-radius: 30px;
    color: #000000;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(3, 128, 88);
}
.hero-section{
    padding: 80px 13%;
}
.hero-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 100px;
}
.left-box{
    margin-left: 40px;
    padding: 50px 0;
}
.started{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}
.ready{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
.left-box h1{
    font-size: var(--big-font);
    margin: 15px 0 15px;
}
span{
    color: rgb(255, 175, 45);
}
.left-para{
    color:var(--second-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin-bottom: 48px;
}
.right-img{
    height: auto;
    width: 100%;
}
.feature{
   background-color: aliceblue;
   height: 50vh;
   padding: 0 100px;
   display: flex;
   align-items: center;
   justify-content: space-around;
} 
.boxes{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.boxes:hover{
    box-shadow: 0px 5px 15px rgb(98, 98, 98);
    cursor: pointer;
}
.boxes h2{
    font-size: 18px;
    color: rgb(49,48,48);
    margin: 5px 0;
}
.boxes p{
    color: rbg(131,131,131);
}
.al-shadow{
    box-shadow: 0px 5px 15px #bdbdbd;
}

.course-top{
    padding: 0 0 100px 0;
}
.online-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    color: #01b671;
}
.online-courses{
    background-color: white;
    height: auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.online-courses img{
    width: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.online-box{
    background-color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(177,177,177),rgb(177,177,177);
    transition: 0.3s ease-in-out;
}
.online-box:hover{
    box-shadow: 0px 5px 15px #bdbdbd;
    cursor: pointer;
}
.online-bo h2{
    font-size: 18px;
    color:rgb(49,48,48);
    margin: 5px 0;
}
.online-box p{
    color: rgb(99,99,99);
    margin: 5px 0;
}
.course-btn{
    font-size: 14px;
    color: white;
    padding: 8px 20px;
    margin: 7px 0;
}
.bottom-feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0 0;
}
.left-date{
    display: flex;
    align-items: center;
    position: relative;
    right: 0px;
}
.right-stu{
    display: flex;
    align-items: center;
    position: relative;
    left: 30px;
}
.left-date p, .right-stu p{
    font-size: 14px;
    margin-left: 5px;
}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    padding-bottom: 100px;
}
.test-title{
    color: #01b671;
    padding-bottom: 40px;
}
.testimonial-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
}
.testtimonial-box img{
    margin-right: 30px;
}
.testtimonial-box p{
    font-size: 500;
    color: #726969;
}
footer{
    height: 60vh;
    background-color: #282432;
    padding: 0 100px 100px 0;
}
.footer-box{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    flex-direction: column;
    padding: 30px;

}
.footer-about{
    width: 40%;
    color:wheat;
    margin-left: 120px;
}
.footer-links h3{
    margin-bottom: 10px;
    color: wheat;
    font-size: 17px;
}
.footer-links a{
    color: wheat;
    text-decoration: none;
    margin: 6px 0;
    text-align: left;
    font-size: 12px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
}
.footer-links a:hover{
    color: wheat;
}
.end{
    text-align: center;
    color: wheat;
}
@media (max-width: 1410px) {
    header{
        padding: 10px 3%;
        transition: .2s;
    }
    header .sticky{
        padding: 12px 3%;
        transition: .2s;
    }
    /* section{
        padding: 70px 3%;
        transition: .2s;
    } */
    .hero-section{
        padding: 70px 3%;
        transition: .2s;
    }
    .course-top{
        padding: 60px 3%;
        transition: .2s;
    }
    .footer{
        padding: 60px 3%;
        transition: .2s;
    }

}
/* @media (max-width: 1050px){
    .root{
        --big-font: 3.2rem;
        --h2-font: 2rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .hero-section{
        height: 84vh;

    }
}

@media (max-width: 1025px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 110vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 170px 30px;
        transition: all .40s ease;
    }
    .navbar a{
        display: block;
        margin: 1.3rem 0;
        color: var(--bg-color);

    }
    .navbar a:hover{
        color: var(--bg-color);
        transform: translateY(-5px);
    }
    .navbar.open{
        right: 0;
    }
}
@media (max-width: 890px){
    .hero-section{
        height: 150vh;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .home-text{
        padding-top: 20px;

    }
    .home-img{
        text-align: center;
    }
    .home-img img{
        height: auto;
        width: 100%;
    }
    .course-top{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
@media(max-width: 600px){
    
} */
